# --- Environnement virtuel ---
venv/
.venv/
env/

# --- Cache Python ---
**/__pycache__/
*.pyc
*.pyo
*.pyd

# --- Fichiers système macOS ---
.DS_Store

# --- Modèles d'IA lourds ---
models/*
# On ignore tout le contenu de models sauf le fichier .gitkeep
!models/.gitkeep

# --- Fichiers de données locaux (images et exports 3D) ---
input/*
!input/.gitkeep
output/*
!output/.gitkeep
exports/*
!exports/.gitkeep

# --- Fichiers temporaires Blender ---
*.blend1
*.blend2